*,
*::after,
*::before {
  box-sizing: border-box;
}

p,
pre {
  margin: 0 0 1.5em;
}

html, body {
  height: 100%;
}

html {
  font: 400 1em/1.4 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background: #131417;
  margin: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html {
    font-weight: 300;
  }
}

form {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  font-size: 2em;
  -webkit-font-kerning: normal;
  letter-spacing: -.015em;
  line-height: 1;
  margin: .25em 0 .75em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
    margin: .5em 0 1em;
  }
}

h2 {
  font-size: 1.333em;
  font-weight: 600;
  margin: 0 0 calc(1.5em/1.333);
}

p,
pre {
  margin: 0 0 1.5em;
}

code,
pre {
  font-family: 'Menlo', 'Monaco', monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

a {
  border-bottom: 1px dashed hsla(150, 45%, 50%, 0.5);
  color: hsl(150, 45%, 50%);
  text-decoration: none;
}
a:focus,
a:hover {
  border-bottom: 1px solid hsl(150, 45%, 50%);
}

strong {
  font-weight: 600;
}