.app-header,
.app-footer {
  flex: none; /* 2 */
}

.app-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
  
.app-footer {
  flex: none; /* 2 */
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
  
  .app-content::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
  }
  @media (--break-lg) {
    .app-content {
      padding-top: var(--space-lg);
    }
    .app-content::after {
      margin-top: var(--space-lg);
    }
  }
  
  .app-content--full {
    padding: 0;
  }
  .app-content--full::after {
    content: none;
  }